<div class="d-flex flex-column">
  <div>
    <h2 class="mb-3">List of messages</h2>

    <form class="d-flex mb-3" (ngSubmit)="onSearch()">
      <textarea
        class="form-control me-2"
        type="search"
        placeholder='[ { "key": "content", "operator": "BETWEEN", "field_type" : "DATE", "value" : "yyyy-MM-dd HH:mm:SS", "value_to" : "yyyy-MM-dd HH:mm:SS"}]'
        aria-label="Search"
        name="search"
        rows="10"
        [(ngModel)]="searchText"
      ></textarea>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel
        *ngFor="let message of messages"
        id="toggle-{{ message.id }}"
        title="Message {{ message.id }}"
      >
        <ng-template ngbPanelContent>
          <form>
            <div class="mb-3">
              <label class="form-label" for="content">Content: </label>
              <textarea
                name="content"
                class="form-control"
                type="text"
                id="content"
                [(ngModel)]="message.content"
                placeholder="placeholder..."
                disabled
              ></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="tag">Tags: </label>

              <div *ngIf="message.tags.length > 0" class="d-flex mt-2">
                <span
                  *ngFor="let tag of message.tags"
                  class="border border-primary mx-2 p-1"
                  >{{ tag }}
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="icon">Icon: </label>
              <input
                name="icon"
                class="form-control"
                type="text"
                id="icon"
                [(ngModel)]="message.icon"
                placeholder="placeholder..."
                disabled
              />
            </div>

            <div class="form-group">
              <label class="form-label" for="link">Link: </label>
              <input
                name="link"
                class="form-control"
                type="text"
                id="link"
                [(ngModel)]="message.link"
                placeholder="placeholder..."
                disabled
              />
            </div>

            <div class="form-group">
              <label class="form-label" for="deadline">Deadline: </label>
              <div class="input-group">
                <input
                  name="deadline"
                  class="form-control"
                  id="deadline"
                  [ngModel]="message.deadline | date: 'yyyy-MM-dd'"
                  placeholder="yyyy-mm-dd"
                  type="date"
                  disabled
                />
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="createdAt">Created at: </label>
              <input
                name="createdAt"
                class="form-control"
                type="text"
                id="createdAt"
                [(ngModel)]="message.createdAt"
                disabled
              />
            </div>

            <div class="d-flex justify-content-around">
              <button
                type="button"
                class="btn btn-primary"
                routerLink="/edit/{{ message.id }}"
              >
                Update message
              </button>

              <button
                type="button"
                class="btn btn-danger"
                (click)="onDelete(message)"
              >
                Delete message
              </button>
            </div>
          </form>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
